*{
    margin: 0;
    padding: 0;
    list-style: none; 
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

html, body {
    background-color: #ddd;
}

.nav{
    background-color: #731de0;
}

.nav__h1{
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    margin: .8em;
}

.nav ul{
    float: right;
    font-size: 1em;
    margin: 10px;
}

.nav li{
   display: inline-block;
   padding: 1em;
   background-color:#3A0F73;
   border-radius: 20px;
   width: 10vw;
   text-align: center;
}

.nav li a{
    color: #fff;
}

.nav li:hover{
    background-color: #FFF;
}

.nav li:hover > a{
    cursor: pointer;
    color: #3A0F73 ;
}

.zone-verification{
    background-color: #d1bdea;
    margin: 2em auto;
    width: 80vw;
    height: 70vh;
}

.zone-verification h2{
    color: #8c45e6;
    text-align: center;
    font-size: 2em;
}

.zone-verification p{
    text-align: center;
    margin-top: 1vh;
    color: #8c45e6;
}

.zone-verification #hash:hover{
    cursor: pointer;
    text-decoration: underline;
}

.zone-verification__drop-zone{
    background-color:#d9c9ed;
    height: 50vh;  
    width: 60vw;  
    margin: 0 auto;
    border: 5px dashed #8c45e6; 
}

.zone-verification__drop-zone p{
    color: #8c45e6;
    font-size: 3em;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 0.5em;
}

.zone-verification__hash-zone{
    background-color: #d9c9ed;
    height: 50vh;
    width: 60vw;
    margin: 0 auto;
    border: 5px dashed #8c45e6;
}

.zone-verification .hash-zone__input-txt{
    width: 30vw;
    font-size: 1.5em;
    margin: 20vh 15vw;
    color: #8c45e6;
}

.zone-verification .hash-zone__input-submit{
    background-color: #8c45e6;
    color: #FFF;
    width: 40vw;
    height: 10vh;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    margin-left: 10vw;
    cursor: pointer;
}

.zone-verification .hash-zone__input-submit:hover{
    background-color: #fff;
    color: #8c45e6;
}

.disabled{
    display: none;
}

.active{
    display: block;
}


.drop-zone__file {
    background-color:red;
    width: 40vw;
    height: 4vh;
    border-radius: 20px;
    border: none;
    opacity: .4;
    display: none;
}

.drop-zone__label{
    background-color: #8c45e6;
    color: #fff;
    width: 40vw;
    height: 4vh;
    margin-left: 10vw;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    text-align: center;
    font-weight: 100;
    font-size: 1.1em; 
    line-height: 40px;   
    transition: all 1s;
}

.drop-zone__h3{
    text-align: center;
    margin: 5vh;
    color: #FFF;
}

.drop-zone__label:hover{
    background-color: #FFF;
    color: #8c45e6;
}

.protection-zone__form h3{
    text-align: center;
    color: #8c45e6;
}

.protection-zone__file{
    margin: 20px auto;
    padding: 20px;
    display: block;
}

.protection-zone__submit{
    margin: 0 auto;
    display: block;
    width: 40vw;
    height: 4vh;
    background-color: #8c45e6;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.1em;
}

.data-protect h3{
    color: #8c45e6;
    text-align: center;
    margin-top: 20px;
}

.data-protect p{
    display: inline-block;
}

.data-protect span{
    font-weight: 700;
    color: #8c45e6;
    padding: 5px;
}

.data-protect__block{
    width: 70vw;
    height: 55vh;
    margin: 0 auto;
    border: 0.2em dashed #8c45e6;
}

.block__input{
    background-color: #8c45e6;
    color: #FFF;
    width: 40vw;
    height: 4vh;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}

.verify-block{

}

.verify-block h3{
    text-align: center;
    color: #000;
    padding: 20px; 
    font-weight: 900;
}

.verify-block i{
    color: green;
    font-size: 2em;
}

.verify-block span{
    font-weight: 900;
    color: #000;
    padding: 5px;
}

.verify-block p{
    color: #fff;
    background-color: #008000;
}

.footer{
    background-color: #731de0;
    width: 100vw;
    margin-top: 17vh;
}

.footer p{
    text-align: right;
    color: #fff;
    margin-right: 3em;
}

@media only screen and (max-width: 500px){

    .nav li{
       border-radius: 10px;
       width: 15vw;
    }
    
    .zone-verification{
        width: 90vw;
        height: 65vh;
    }

    .zone-verification h2{
        margin: 5px;
    }

    .zone-verification__drop-zone{
        height: 20vh;  
    }

    .zone-verification__drop-zone p{
        display: none;
    }

    .zone-verification p{
        margin-top: 5vh;
    }

    .zone-verification__hash-zone{
        margin: 0 auto;
        height: 10vh;
        border: none;
        background-color: #d1bdea;
    }

    .zone-verification .hash-zone__input-txt{
        width: 60vw;
        font-size: 1em;
        margin: 0 auto;
    }

    .zone-verification .hash-zone__input-submit{
        font-size: 0.9em;
        border-radius: 10px;
        margin-top: 50px;
    }

    .drop-zone__label{
        margin-top: 50px;
        font-size: 1em;
        line-height: 30px;
    }

    .protection-zone__file{
        width: 70vw;
        margin-top: 0;
    }

    .protection-zone__submit{
        width: 60vw;
        height: 8vh;
        border-radius: 10px;
    }

    .data-protect h3{
        padding: 20px;
        margin-top: 0;
        font-size: 1em;
    }

    .data-protect span{
        font-size: .8em;
    }

    .data-protect__block{
        height: 60vh;
    }

    /*Falta Modificar*/
.block__input{
    background-color: #8c45e6;
    color: #FFF;
    width: 40vw;
    height: 4vh;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}

.verify-block{

}

.verify-block h3{
    text-align: center;
    color: #000;
    padding: 20px; 
    font-weight: 900;
}

.verify-block i{
    color: green;
    font-size: 2em;
}

.verify-block span{
    font-weight: 900;
    color: #000;
    padding: 5px;
}

.verify-block p{
    color: #fff;
    background-color: #008000;
}

.footer{
    background-color: #731de0;
    width: 100vw;
    margin-top: 17vh;
}

.footer p{
    text-align: right;
    color: #fff;
    margin-right: 3em;
}
} 